<h1 class="container text-center my-4">Bienvenido al mercado WEB, seleccione sus productos</h1>

<div class="container mt-5">
    <div class="row row-cols-1 cols-md-4">
        {{> producto}}
    </div>
</div>
